<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homely">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobHunt">
        <activity
            android:name="com.example.homely.User.UserProfile"
            android:exported="false" />
        <activity
            android:name="com.example.homely.User.ReceiveBid"
            android:exported="false" />
        <activity
            android:name="com.example.homely.Contractor.Profile"
            android:exported="false" />
        <activity
            android:name="com.example.homely.Contractor.AppliedJob"
            android:exported="false" />
        <activity
            android:name="com.example.homely.Contractor.SavedWork"
            android:exported="false" />
        <activity
            android:name="com.example.homely.ForgetPassword"
            android:exported="false"
            android:parentActivityName="com.example.homely.Login" />
        <activity
            android:name="com.example.homely.Admin.AdminPostWork"
            android:exported="false"
            android:parentActivityName="com.example.homely.Admin.AdminDashBoard" />
        <activity
            android:name="com.example.homely.Admin.AdminUsers"
            android:exported="false"
            android:parentActivityName="com.example.homely.Admin.AdminDashBoard" />
        <activity
            android:name="com.example.homely.Admin.AdminContractors"
            android:exported="false"
            android:parentActivityName="com.example.homely.Admin.AdminDashBoard" />
        <activity
            android:name="com.example.homely.Contractor.ContractorDb"
            android:exported="false" />
        <activity
            android:name="com.example.homely.Admin.AdminDashBoard"
            android:exported="false" />
        <activity
            android:name="com.example.homely.User.InsertPostWorkActivity"
            android:exported="false"
            android:parentActivityName="com.example.homely.User.UserDb" />
        <activity
            android:name="com.example.homely.User.UserDb"
            android:exported="false" />
        <activity
            android:name="com.example.homely.Register"
            android:exported="true"
            android:parentActivityName="com.example.homely.Login" />
        <activity
            android:name="com.example.homely.Login"
            android:exported="false" />
        <activity
            android:name="com.example.homely.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>